[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "*"
openai = "*"
azure-ai-formrecognizer = "*"
numpy = "*"
beautifulsoup4 = "*"
dotenv = "*"
tiktoken = "*"
aiohttp = "*"
scipy = "*"
azure-core = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
